body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: min-content minmax(2em, min-content) 1fr min-content;
  grid-template-areas:
    'left-aside header header'
    'left-aside top-main-aside right-aside'
    'left-aside main right-aside'
    'footer footer footer';
}

* {
  box-sizing: border-box;
}
