.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 20% 5% 55% 20%;
    grid-template-areas:
        "left-aside header header"
        "left-aside top-main-aside right-aside"
        "left-aside main right-aside"
        "footer footer footer";
}
